/* ====== Variables ====== */

:root {
  --black: #000000;
  --white: #FFFFFF;
  --basic-blue: #81B3D2;
  --medium-blue: #669EC0;
  --dark-blue: #5496BD;
  --welcome-blue: #81B3D3;
  --advice-text-color: #333333;
  --brown: #766357;
  --medium-brown: #604E43;
  --dark-brown: #503E33;
  --popup-search-chart-color: #F2F2F2;
  --popup-search-chart-icon-color: #A9A9A9;
  --page-footer-copyright-link-color: #231F20;
  --features-background-gray: #EEEEEE;
  --rating: #666666;
  --up-icon: #CACACA;
}

body {
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  background-color: var(--popup-search-chart-color);
  color: var(--black);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
}


/* ====== Navigation ====== */


/* Прописываю размер шрифтов, цвета в навигации, убираю булиты */

.main-nav {
  background-color: var(--white);
  color: var(--black);
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.site-nav a:hover,
.site-nav a:focus {
  background-color: var(--white);
  color: var(--black);
}

.main-nav-link {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.main-nav-link-active {
  color: var(--brown);
}


/* ====== Features ====== */


/* Прописываю центрирование, размер шрифтов, цвета для секции фичерс, убираю булиты */

.features {
  text-align: center;
}

.features-title-add {
  background-color: var(--features-background-gray);
  color: var(--black);
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  font-weight: bold;
}

.features-number-add {
  background-color: var(--features-background-gray);
  color: var(--black);
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
}

.features-text-add {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
}

.advice-title {
  background-color: var(--white);
  color: var(--black);
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.advice-text {
  background-color: var(--white);
  color: var(--black);
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.features-additional {
  background-color: var(--features-background-gray);
}

.features-additional-item {
  background-color: var(--features-background-gray);
}


/* ====== Popup ====== */


/* Для попапа (поиска гостиницы) устанавливаю шрифты, цвета*/

.search-hotel-title {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
}

.search-hotel {
  background-color: var(--white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}


/*сомневаюсь насчет верхнего куска, можно ли устанавливать тень на весь попап? или нужно это установить только конкретно там, где даты, взрослые и т.п*/

.search-hotel-button {
  background-color: var(--brown);
  color: var(--white);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  font-style: normal;
}

.form-search-input {
  background-color: var(--popup-search-chart-color);
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}




/* ====== Footer ====== */


/* Убираю булиты, прописываю цвета и размеры шрифтов, отступов в футере */

.page-footer-hashtag {
  background-color: var(--white);
  color: var(--black);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.social-links {
  list-style: none;
}

.page-footer-copyright-text {
  background-color: var(--white);
  color: var(--black);
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.phone-number {
  background-color: var(--white);
  color: var(--black);
}

.social-links {
  list-style: none;
}

.phone-number {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--white);
  color: var(--black);
  max-height: 26px;
  padding-bottom: 0px;
}


/* ====== Background for images ====== */


/* Устанавливаю бэкграунд для картинок в случае, если они не загружаются для юзера*/

.main-header-logo,
.page-main-img,
.features-img {
  background-color: var(--features-background-gray);
}




/* ====== Header ======*/

header,
main,
footer {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white);
}

.main-image {
  padding-top: 76px;
  padding-bottom: 80px;
}

.page-main-intro {
  position: relative;
  height: 508px;
  background: #517ca4 url("../img/mountains.jpg") no-repeat 50% 21%;
}

.page-main-intro::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background: url(../img/mask.png) no-repeat 50% 50%;
}

.main-header-logo {
  background-color: var(--white);
}


.main-nav {
  height: 56px;
  list-style: none;
}

.main-nav-item {
  line-height: 26px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 25%;
}

li.main-nav-item.left {
  text-align: left;
}

li.main-nav-item.right {
  text-align: right;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: transparent;
  z-index: 2;
}


/* ====== Седона — небольшой городок в Аризоне ======*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-main-title {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.page-main-text {
  margin-top: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}


/* ====== Features ======*/

.features {
  width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.features-main {
  height: 256px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: var(--basic-blue)
}

.features-title,
.features-number,
.features-text {
  text-align: center;
  color: var(--white);
  background-color: var(--basic-blue)
}

.features-description {
  width: 400px;
  height: 256px;
}

.features-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin-top: 47px;
  margin-left: 139px;
  margin-right: 139px;
}

.features-number {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.features-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-top: 23px;
  padding-bottom: 54px;
  margin-left: 52px;
  margin-right: 51px;
}


/* ====== Форма поиска гостиницы ======*/

.search-hotel-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.search-hotel-button {
  width: 568px;
  height: 86px;
  border: none;
  text-transform: uppercase;
}

.form-search-input {
  width: 568px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.form-search-submit {
  width: 458px;
  height: 58px;
  text-transform: uppercase;
  border: none;
}


/* ====== Footer ======*/

footer {
  height: 120px;
}

.page-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.page-footer-hashtag {
  margin-top: 23px;
}

.social-links {
  margin-top: 36px;
}

.page-footer-down-second .social-links-item {
  display: flex;
  flex-direction: column;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  vertical-align: top;
  font-size: 0;
}

.social-links-item {
  background-color: var(--basic-blue);
}

.social-links-item,
.twitter-img {
  height: 100%;
  vertical-align: middle;
}

.social-links-item,
.facebook-img {
  height: 100%;
  vertical-align: middle;
}

.social-links-item,
.youtube-img {
  height: 100%;
  vertical-align: middle;
}

.page-footer-down-three,
.logo-html-img {
  height: 100%;
  vertical-align: middle;
}


/* ====== Изменения по последнему дз ======*/

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2.style {
  display: none;
}

.site-nav {
  text-decoration: none;
  list-style: none;
  color: var(--black);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-title-devil,
.features-number-devil,
.features-text-devil {
  text-align: center;
  color: var(--white);
  background-color: var(--basic-blue)
}

.features-title-devil {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin-top: 50px;
}

.features-number-devil {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.features-text-devil {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 51px;
}

.features-description-devil {
  margin-right: 49px;
  margin-left: 50px;
}


/* ====== Catalog======*/

.catalog-page {
  width: 1200px;
  margin-top: 0px;
}

.filters-title {
  color: var(--white);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.form-filters-checkbox {
  color: var(--white);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.filter h2 {
  margin-bottom: 25px;
  font-size: 16px;
}

.filter {
  min-height: 217px;
  width: 100%;
  box-sizing: border-box;
  list-style: none;
  color: var(--white);
  background: #4b769e url("../img/blur.jpg") no-repeat 50% 20%;
  background-size: 1200px 217px;
}

.filter-menu {
  display: grid;
  grid-template-columns: auto;
}
.infrastructure {}

.type-of-house {}

.price {}

.min-price,
.max-price {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.show-btn {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  background: none;
  color: var(--white);
  border: white;
  text-transform: uppercase;
}

.catalog {
  background: var(--white);
  border-bottom: 1px solid #e5e5e5;
}

.catalog-result-wrapper {
  width: 235px;
  padding: 30px 0;
  padding-left: 72px;
  vertical-align: top;
  line-height: 0;
  box-sizing: border-box;
}

.catalog-result-wrapper {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.hotel-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
  width: 800px;
}

.sorting {
  width: 780px;
  padding: 36px 0 32px;
  font-size: 12px;
  line-height: 18px;
  vertical-align: top;
}

.catalog-sort {
  padding: 0;
  margin: 0;
  vertical-align: top;
}

.sort-type-item,
.sort-type-link {
  padding-left: 32px;
  list-style: none;
  vertical-align: top;
}

.catalog-sort li:first-child {
  padding-left: 40px;
}

.catalog-sort a {
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}


/* ====== Hotels старое ======*/


/* Не установила стили для иконок вверх и вниз */

.catalog-sort {
  list-style: none;
}


/* ====== иконки вверх и вниз ======*/

.hotel-name,
.hotel-link {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--white);
  color: var(--black);
}

.hotel-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--white);
  color: var(--black);
}

.hotel-button {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.button-blue {
  text-decoration: none;
  background-color: var(--basic-blue);
  color: var(--white);
}

.button-brown {
  text-decoration: none;
  background-color: var(--brown);
  color: var(--white);
}

.hotel-rating-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--popup-search-chart-color);
  color: var(--rating);
}

.visually-hidden {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.catalog-result-wrapper span {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--white);
  color: var(--black);
}

.sorting span {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  background-color: var(--popup-search-chart-color);
  color: var(--rating);
}

.sort-type-link {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  background-color: var(--white);
  color: var(--black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.sort-type-link-active {
  text-decoration: none;
  background-color: var(--white);
  color: var(--basic-blue);
}


/* ====== Hotels новое ======*/

.hotel {
  background: var(--white);
  border-bottom: 1px solid #e5e5e5;
}

.hotel-image-wrapper {
  padding: 30px 0;
  padding-left: 73px;
  line-height: 0;
  vertical-align: top;
  box-sizing: border-box;
}

.hotel-image {
  width: 135px;
  height: 90px;
}

.hotel-name a {
  margin-bottom: 7px;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-container h2 {
  font-size: 21px;
}

.hotel-text {
  margin-right: 6px;
  vertical-align: top;
}

.hotel-container p {
  margin-bottom: 14px;
}

.hotel-button {
  padding: 3px 16px;
  margin-right: 6px;
  vertical-align: top;
  font-weight: 500;
  text-decoration: none;
}

.button-blue {
  color: var(--white);
  background-color: #81b3d2;
}

.button-blue:hover {
  background: #669ec0;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background: #5496bd;
}

.hotel-booking {
  width: 142px;
  vertical-align: top;
}

.button-brown {
  color: var(--white);
  background-color: #766357;
}

.button-brown:hover {
  background: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background: #503e33;
}

.hotel-rating {
  float: right;
  width: 185px;
  padding-top: 28px;
}

.hotel-rating .hotel-stars {
  float: right;
  margin-right: 71px;
  margin-bottom: 43px;
  font-size: 18px;
  color: #81b3d2;
}

.hotel-rating .hotel-rating-text {
  float: right;
  padding: 3px 13px;
  margin-right: 72px;
  background: #f2f2f2;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-hotel-title {
  padding-top: 58px;
  padding-bottom: 40px;
}

.search-hotel-text {
  padding-bottom: 46px;
}

.container {
  margin: 0 auto;
  width: 1280px;
}

.advice {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  justify-content: space-between;
  list-style: none;
}

.house {
  width: 400px;
  padding-top: 60px;
  padding-bottom: 82px;
}

.food {
  width: 400px;
  padding-top: 61px;
  padding-bottom: 82px;
}

.gift {
  width: 400px;
  padding-top: 60px;
  padding-bottom: 81px;
}

.features-additional {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  justify-content: space-between;
  list-style: none;
}

.features-additional-item-first {
  width: 400px;
  padding-top: 47px;
  padding-bottom: 54px;
}

.features-additional-item-second {
  width: 400px;
  padding-top: 47px;
  padding-bottom: 54px;
}

.features-additional-item-third {
  width: 400px;
  padding-top: 47px;
  padding-bottom: 54px;
}

.form-search-input-text {
  height: 38px;
}

.form-search-input-first {
  margin-top: 55px;
  padding-bottom: 29px;
}

.form-search-input-second {
  padding-bottom: 30px;
}


.form-search-input {
  display: flex;
}

.hotel-description {
  display: flex;
  flex-wrap: wrap;
}

.hotel-name {
  float: left;
}

.hotel-description p {
  flex-direction: column;
}

.hotel-description .hotel-button {
  flex-direction: column;
}


/* = = = = = = = = ПОПЫТКА ИСПРАВИТЬ ШАПКУ = = = = = = = = = = = = */

.site-nav {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 56px;
}

.main-nav-item .left {
  text-align: left;
}

.main-nav-item .right {
  text-align: right;
}


/* = = = = = = = = ФОРМА ПОИСКА ГОСТИНИЦЫ = = = = = = = = = = = = */

.search-modal {
  outline: 5px solid #ff0000;
  width: 568px;
  height: 395px;
  text-align: center;
  margin-left: 316px;
}

.search-hotel-button {
  outline: 5px solid #ff0000;
}

.form-search-input {
  position: relative;
  width: 458px;
  margin-bottom: 29px;
}

.form-search-label {
  float: left;
  padding: 5px 0 7px;
}

.form-search-input-text {
  float: right;
  line-height: 26px;
  padding: 4px 15px 8px;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-transform: uppercase;
  background: #f2f2f2;
}

.form-search-input-text:hover {
  background: #ebebeb;
}

.form-search-input-text:focus {
  background: #ffffff;
  outline: 2px solid #e5e5e5;
}

.date {
  width: 346px;
  padding-right: 37px;
}

.form-search-amount {
  width: 50%;
  vertical-align: top;
  box-sizing: border-box;
}

.form-search-amount .form-search-input-number {
  width: 114px;
  padding-left: 55px;
  padding-right: 50px;
}

.form-search-amount:first-child .form-search-input-number {
  margin-right: 3px;
}

.form-search-amount:last-child label {
  margin-left: 50px;
}

.form-search-amount .unit-container {
  position: relative;
}

.unit-container .form-search-button-minus {
  left: 112px;
}

.unit-container .form-search-button-plus {
  right: 0;
}

.form-search-amount:first-child .form-search-button-plus {
  right: 3px;
}

.form-search-amount:last-child .form-search-button-minus {
  left: 115px;
}

.form-search-submit {
  width: 458px;
  margin: 0 auto;
  margin-top: 54px;
  padding: 14px 10px 15px;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background: #81b3d2;
  border: none;
  outline: none;
}

.form-search-submit:hover {
  background: #669ec0;
}

.form-search-submit:active {
  background: #5496bd;
}

.form-search-button {
  position: absolute;
  top: 0;
  padding: 6px 9px;
  line-height: 26px;
  color: var(--popup-search-chart-icon-color);
  background: #f2f2f2;
  border: none;
  outline: none;
}

.icon-plus {
  background-image: url("../img/plus.svg");
  color: var(--popup-search-chart-icon-color);
}

.icon-minus {
  background-image: url("../img/minus.svg");
  color: var(--popup-search-chart-icon-color);
}


.form-search-input-first {
  margin-top: 0px;
}

.hotel  {
  display: flex;
}










.page-footer {
  display: flex;
  justify-content: space-between;
}
.page-footer-down-first {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 111px;
}

.social-links {
  display: flex;
}
.social-links-item {
    flex-direction: row;
    flex-wrap: nowrap;
  align-items: center;
}
.page-footer-down-three {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 139px;
}
.filter-menu {
  display: grid;
  grid-template-columns: 22% 22% auto;
}


.icon-calendar {
  position: absolute;
  right: 6px;
  bottom: 0;
  font-size: 21px;
  font-weight: 200;
  line-height: 38px;
  color: #c2c2c2;
  cursor: pointer;
  background-image: url("../img/calendar.svg");
}



.checkbox {
  float: left;
}


.catalog {
  display: flex;
}
.sorting {
  display: flex;
}
.catalog-sort {
  display: flex;
  flex-direction: row;
}
.sort-type-item {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hotel-rating-text {
white-space: nowrap;
}




.check:not(:last-child) {
    margin-bottom: 25px;
}


.check label {
    position: relative;
    margin-left: 40px;
    cursor: pointer;
}
.check label::before {
    content: '\2610';
    position: absolute;
    left: -40px;
    top: 0;
    font-size: 26px;
}


.check input:checked + label::before {
    content: '\2611';
}


.check input:disabled + label {
    color: #6a6a6a;
    cursor: inherit;
}
  .filter input[type="checkbox"] {
      display: none;
  }

.move-left,
.form-filters-checkbox {
  text-align: left;
  justify-content:
}
.form-filters-checkbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 31px;
  border: 0;
}
.infrastructure .filters-title {
  padding: 0;
width: 135px;
}
.type-of-house .filters-title {
    padding: 0;
  width: 91px;
}
.infrastructure {
  margin-left: 72px;
  margin-right: 0px;
  width: 135px;
}
.type-of-house {
    margin-left: 119px;
}

  .filter-range {
      float: right;
      width: 330px;
      margin-right: 72px;
  }
.filter-range h2 {
    margin-left: 2px;
    margin-bottom: 11px;
}

.price-controls {
      position: relative;
      height: 32px;
      border: 2px solid #ffffff;
      border-radius: 2px;
      margin-left: 12px;
      margin-bottom: 20px;
  }
.price-controls label {
    display: inline-block;
    width: 85px;
    margin-left: 64px;
    line-height: 32px;
    vertical-align: top;
    cursor: pointer;
}


.price-controls input {
    width: 40px;
    border: none;
    background: none;
    outline: none;
    color: #ffffff;
}
.price-controls::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}


.range-controls {
    position: relative;
    margin-left: 12px;
    margin-bottom: 32px;
}
.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}


.range-controls .bar {
    height: 2px;
    width: 80%;
    background: #ffffff;
}


.range-controls .range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}


.range-controls .range-toggle:hover {
    background: #1c4f80;
}


.range-controls .range-toggle-min {
    left: 0;
}


.range-controls .range-toggle-max {
    left: 253px;
}
.filter-range .show-btn {
    display: block;
    margin: 32px auto 33px;
    padding: 6px 33px;
    line-height: 20px;
    text-transform: uppercase;
    background: none;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
}


.filter-range .show-btn:hover {
    color: #000000;
    background: #ffffff;
}


.filter-range .show-btn:active {
    outline: none;
}









.search-hotel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  padding: 52px 0 70px 0;

  background-color: #ffffff;
}

.search-hotel-title {
  width: 400px;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;

  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.search-hotel-description {
  width: 485px;
  padding: 0;
  margin: 0;
  margin-bottom: 63px;

  font-family: "PTsansRegular", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.index-search-form {
  position: absolute;
  left: calc(50% - 284px);
  bottom: -395px;
  width: 568px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  padding-top: 55px;

  background-color: #ffffff;
}

.index-search-form-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.index-search-form-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 458px;
  margin-bottom: 30px;

  list-style: none;
}

.search-form-title {
  width: 100%;
  margin-bottom: 55px;

  text-align: center;
}

.index-open-search-form {
  position: absolute;
  bottom: 0;
  left: calc(50% - 284px);
  width: 568px;
  padding: 30px 0;
  margin: 0;

  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #766357;
}

.index-search-form-title:hover {
  background-color: #604e43;
}

.index-search-form-title:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.index-search-form-field {
  padding: 0px 12px;

  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  border: none;
}

.index-search-form-field:hover {
  background-color: #ebebeb;
}

.index-search-form-field:focus {
  padding: 4px 10px;

  background-color: #ffffff;

  border: 2px solid #e5e5e5;
}

.index-search-form-amount-people {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-form-label {
  display: inline-block;
  vertical-align: top;
  width: 112px;
  padding: 6px 0 7px 0;

  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.calendar-svg {
  position: absolute;
  top: 8px;
  right: 9px;

  fill: #cacaca;
}

.calendar-svg:hover {
  fill: #000000;
}

.calendar-svg:active {
  fill: #81b3d2;
}

.children-label {
  width: 65px;
}

.amount-adult {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 226px;
  margin-right: 53px;
}

.amount-children {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 179px;
}

.amount-minus {
  position: absolute;
  top: 16px;
  right: 89px;
  display: block;
  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
}

.amount-minus:hover {
  background-color: #000000;
}

.amount-minus:active {
  background-color: #81b3d2;
}

.amount-plus {
  position: absolute;
  top: 19px;
  right: 25px;
}

.amount-plus::before {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  display: block;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.amount-plus::after {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  display: block;
  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
}

.amount-plus:hover::before {
  background-color: #000000;
}

.amount-plus:hover::after {
  background-color: #000000;
}

.amount-plus:active::before  {
  background-color: #81b3d2;
}

.amount-plus:active::after {
  background-color: #81b3d2;
}

.search-form-date-arrival {
  width: 322px;

  background-color: #f2f2f2;
}

.search-form-date-departure {
  width: 322px;

  background-color: #f2f2f2;
}

.search-form-adult-amount {
  position: relative;
  width: 90px;

  text-align: center;

  background-color: #f2f2f2;
}

.children-label {
  width: 63px;
}

.search-form-children-amount {
  position: relative;
  width: 90px;

  text-align: center;

  background-color: #f2f2f2;
}

.search-form-item-btn {
  padding-top: 20px;
  margin-bottom: 0;
}

.search-form-send-btn {
  width: 458px;
  padding: 16px 0;
  margin-bottom: 55px;

  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: #81b3d2;

  border: none;
}

.search-form-send-btn:hover {
  background-color: #669ec0;
}

.search-form-send-btn:active {
  background-color: #5496bd;

  color: rgba(255, 255, 255, 0.3);
}


